article.Medio-item
	div.Medio-graph.Search-graph
		figure.Medio-imageContainer
			img.Medio-image(src="#{val.img_src}", alt="#{val.title}")
	div.Medio-text.Search-text
		h5.Medio-title
			|	#{val.title}
		p.Medio-description
			|	#{val.description}
		p.Medio-description
			|	Pertenece al medio
			span.Medio-group.orangeText
				|	#{val.medio}
		p.Medio-description
			|	Pertenece al grupo
			span.Medio-group.greenText
				|	#{val.group}		
	div.Search-features
		div.Medio-featureItem
			span.Medio-featureIcon.icon-contacto
			p.Medio-featureText
				|	Contacto
		div.Medio-featureItem
			span.Medio-featureIcon.icon-archivos
			p.Medio-featureText
				|	Archivos
		div.Medio-featureItem
			span.Medio-featureIcon.icon-enlaces
			p.Medio-featureText
				|	Enlaces